.section {
    width: 100%;
    height:100%;
}

.s-one {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
}

.s-one .wrapper {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.s-one .wrapper .left {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-one .wrapper .left h3 {
    font-family: 'Josefin Sans', sans !important;
    font-size: 3rem;
}


.s-one .wrapper .left span {
    font-family: 'Josefin Sans', sans !important;
    font-size: 3rem;
    color: #045B01;
}

.s-one .wrapper .right {
    width: 29%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-one .wrapper .right img {
    width: 70%;
    object-fit: cover;
}


.s-two {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cceabb;  
}

.s-two .wrapper {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.s-two .wrapper .left {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.s-two .wrapper .left h3 {
    font-family: 'Josefin Sans', sans !important;
    font-size: 3rem;
}

.s-two .wrapper .left p {
    text-align: center;
}

.s-two .wrapper .left span {
    color: #800A0A;
}


.s-two .wrapper .right {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.s-two .wrapper .right h3 {
    font-family: 'Josefin Sans', sans !important;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3vh;
}

.s-two .wrapper .right img {
    width: 100%;
    object-fit: cover;
}
