body {
    background-color: #3B3C36;
}

.section-one {
    width: 100%;
    height: 100%;
}

.section-one .wrapper {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-one .wrapper img {
    width: 90%;
}

.section-one .wrapper h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
    color: white;
}

.section-one .wrapper .arrow {
    width: 30%;
    margin: 35px auto;
    
}

.section-two {
    width: 100%;
    height: 100%;
    padding-top: 35px;
    background-color: #36454F;
    position: relative;
}

.section-two .wrapper {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-two .wrapper h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.section-two .wrapper p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.section-two .wrapper .arrow {
    width: 30%;
    z-index: 2;
    position: relative;
    margin-top: 220px;
}

.section-two img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    z-index: 1;
}

.section-three {
    width: 100%;
    height: 80%;
    padding-top: 50px;
    background-color: #1A1110;
    position: relative;
}

.section-three .wrapper {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.section-three .wrapper h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.section-three .wrapper p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

.section-three img {
    height: 30%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    bottom: 0;
}

