.big-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-nav {
    width: 20vw;
    height: 100%;
    background-color: #cceabb;
}

.s-nav img {
    width: 100%;
}