.section {
    width: 100%;
    height:100%;
}

.s-one {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    
}

.s-one .wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.s-one .wrapper .left {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes phoneAnim {
    0% {left: -1200px; position: relative;}
    25% {}
    50% {}
    75% {}
    100% {left: 0; position: relative;}
}

.s-one .wrapper .left h3 {
    font-family: 'Josefin Sans', sans !important;
    font-size: 3rem;
}


.s-one .wrapper .left span {
    font-family: 'Josefin Sans', sans !important;
    font-size: 3rem;
    color: #045B01;
}


.s-one .wrapper .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: phoneAnim;
    animation-duration: 1s;
}

.s-one .wrapper .right img {
    height: 70%;
    object-fit: contain;
    
}


.s-two {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffe57a;
    /* background-color: #cceabb;
    background-image: linear-gradient(to right top, #a7d58e, #b0da99, #bae0a4, #c3e5b0, #cceabb);  */
}

.s-two .wrapper {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.s-two .wrapper .left {
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/blob_green.png');
}

.s-two .wrapper .left h3 {
    font-family: 'Josefin Sans', sans !important;
    font-size: 3rem;
    color: white;
}

.s-two .wrapper .left p {
    text-align: center;
    font-size: 1rem;
    padding: 0 10%;
    color: white;
    width: 80%;
}

.s-two .wrapper .left span {
    color: #ffcaca;
}


.s-two .wrapper .right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.s-two .wrapper .right h3 {
    font-family: 'Josefin Sans', sans !important;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3vh;
}

.s-two .wrapper .right img {
    height: 100%;
    object-fit: cover;
}

/* Three */
.s-three {
    background-color: #FF8B72;
    
}

.s-three .wrapper {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.s-three .wrapper .left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.s-three .wrapper .left img{
    height: 100%;
    object-fit: cover;
    
}


.s-three .wrapper .right {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/blob_blue.png');
}

.s-three .wrapper .right h3 {
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 3rem;
    color: white;
}


.s-three .wrapper .right p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem;
    padding: 0 10%;
    text-align: center;
    color: white;
    width: 80%;
}

.s-three .wrapper .right form input {
    background-color: #fdcb9e;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    color: #3f3f44;
    margin-top: 30px;
    padding: 2px 4px;
}

.s-three .wrapper .right form input:hover {
    background-color: #fab172;
}

/*WIP STYLES*/
