.big-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-nav {
    width: 15vw;
    height: 100%;
    background-color: #cceabb;
}

.s-nav img {
    width: 100%;
}

.s-nav ul {
    list-style-type: none;
}

.s-nav ul li {
    text-align: center;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.s-nav ul li:hover {
    background-color: #ecfce3;
}

.active {
    background-color: #ecfce3;
}

.s-right {
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}